:root {
  // NAVBAR --
  --navbar: transparent;
  --alt-navbar: transparent;
  --navbar-height: 4vh;
  // HERO --
  --background-hero: #ff5507;
  --header-hero: #000;
  // ABOUT --
  --header-about: #000;
  --background-page: #fff;
  --availability-text: gray;
  // --
  --border-section: #fff;
  --header: #000;
  --sub-header: #fff;
  --paragraph: #fff;
  --button-bg: #61ff00;
  --button-bg-hover: #94906d;
  --link: #f9bc60;
}
